<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <localRepository>/.m2adv</localRepository>
	
  <servers>
    <server>
      <username>zmjmrbzuprzxlrqyl4gm57tfnx1c7asaihqjaei2q5g</username>
      <password>AKCp5cd5L6Vj2SGdPYcWGY5E1kA2XkiJLe4GvpD7o9djzaAhAoJ76bwadbdXypLmJbeFCPdPb</password>
      <id>advanced</id>
    </server>
	<!--
    <server>
      <username>zmjmrbzuprzxlrqyl4gm57tfnx1c7asaihqjaei2q5g</username>
      <password>AKCp5cd5L6Vj2SGdPYcWGY5E1kA2XkiJLe4GvpD7o9djzaAhAoJ76bwadbdXypLmJbeFCPdPb</password>
      <id>advanced-snapshots</id>
    </server>
	-->
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>advanced</id>
          <name>libs-release</name>
          <url>https://advancedcsg.jfrog.io/advancedcsg/libs-release</url>
        </repository>
<!--
        <repository>
          <snapshots />
          <id>advanced-snapshots</id>
          <name>libs-snapshot</name>
          <url>https://advancedcsg.jfrog.io/advancedcsg/libs-snapshot</url>
        </repository>
-->
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>advanced</id>
          <name>plugins-release</name>
          <url>https://advancedcsg.jfrog.io/advancedcsg/plugins-release</url>
        </pluginRepository>
<!--
        <pluginRepository>
          <snapshots />
          <id>advanced-snapshots</id>
          <name>plugins-release</name>
          <url>https://advancedcsg.jfrog.io/advancedcsg/plugins-release</url>
        </pluginRepository>
-->
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
